.titleText{
    font: normal bold 50px/72px var(--gilroySemibold);
}

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--gilroySemibold);
    border: 4px solid transparent;
    border-radius: 4px;
}

.primaryButton{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow)
}

.secondaryButton{

}